In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
data = pd.read_csv('./events/events.csv')
data.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [48]:
data.fillna(0,inplace = True)
data.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            0.0
1  1433224214164     992329  view  248676            0.0
2  1433221999827     111016  view  318965            0.0
3  1433221955914     483717  view  253185            0.0
4  1433221337106     951259  view  367447            0.0

In [50]:
data.tail()

             timestamp  visitorid event  itemid  transactionid
2756096  1438398785939     591435  view  261427            0.0
2756097  1438399813142     762376  view  115946            0.0
2756098  1438397820527    1251746  view   78144            0.0
2756099  1438398530703    1184451  view  283392            0.0
2756100  1438400163914     199536  view  152913            0.0

In [52]:
events_c = data.event.value_counts()
events_c.head()
items_c = data.itemid.value_counts()
items_c.head()

187946    3412
461686    2978
5411      2334
370653    1854
219512    1800
Name: itemid, dtype: int64

In [58]:
data['event'] = data['event'].apply({'view':0, 'addtocart':1, 'transaction':2}.get)
data.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  None  355908            0.0
1  1433224214164     992329  None  248676            0.0
2  1433221999827     111016  None  318965            0.0
3  1433221955914     483717  None  253185            0.0
4  1433221337106     951259  None  367447            0.0

In [30]:
from sklearn.preprocessing import OneHotEncoder

In [60]:
enc = OneHotEncoder()
enc1 = [['view', 1],['addtocart',2], ['transaction',3]]
enc.fit(enc1)

ValueError: could not convert string to float: 'view'

In [62]:
data.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  None  355908            0.0
1  1433224214164     992329  None  248676            0.0
2  1433221999827     111016  None  318965            0.0
3  1433221955914     483717  None  253185            0.0
4  1433221337106     951259  None  367447            0.0

In [86]:
data_vals = data.values
X_value = data_vals[:, -2:]+data_vals[:, 0:2] ## not concatenating numpy array.. REST WILL BE DONE TOMORROW
Y_value = data_vals[:, 2]
print(X_value.shape)
print(Y_value.shape)

(2756101, 2)
(2756101,)